.miAvatar {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1px;
  max-width: 75%;
  height: auto;
  margin: 0;
  text-align: center;
}
td {
  text-align: center;
  border: 1px solid chartreuse;
}
th {
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
}

@media (min-witdh: 700px) {
  .miAvatar {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1px;
    max-width: 75%;
    height: auto;
    margin: 0;
    text-align: center;
  }
}
@media (max-witdh: 700px) {
  .miAvatar {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1px;
    max-width: 75%;
    height: auto;
    margin: 0;
    text-align: center;
  }
}
