img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1px;
  max-width: 25%;
  height: auto;
  margin: 0;
  text-align: center;
}
td {
  text-align: center;
  border: 1px solid chartreuse;
}
th {
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
}
