@media (min-width: 700px) {
  .imagenesvarias {
    transform: scale(1);
    text-align: center;
    width: auto;
    height: 500px;
    /*background-color: blue;*/
    /*margin: 10px;*/
  }
  .imagen {
    width: 1000vw;
    height: 300px;
    margin: 20px;
    padding: 5px;
  }
  main {
    height: auto;
    padding: 5px;
    background-color: black;
  }
  footer {
    background-color: rgb(100, 100, 94);
    color: white;
    padding: 5px;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .imagenesvarias {
    text-align: center;
    transform: scale(0.8);
    width: auto;
    height: auto;
  }
  main {
    height: auto;
    padding: 5px;
    background-color: black;
  }
  footer {
    background-color: rgb(100, 100, 94);
    color: white;
    padding: 5px;
    text-align: center;
  }
}
