@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&family=Gentium+Basic&display=swap");
body {
  font-family: "Asap", sans-serif;
  font-family: "Gentium Basic", serif;
}
@media (min-width: 700px) {
  .arriba {
    position: sticky;
    bottom: 0px;
    font-size: 1.5em;
    /*background-color: chartreuse;*/
    text-align: right;
    opacity: 1;
  }
  .let {
    text-align: center;
    font-size: xx-large;
    font-family: "Gentium Basic", serif;
  }
  .color1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 100vh;*/
    background-color: rgb(106, 97, 192);
    padding: 10px;
  }
  .color2 {
    /*height: 100vh;*/
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }
  .imagenesvarias {
    /*position: relative;
    top: 0px;*/
    /*transform: scale(1);*/
    /*text-align: center;
    width: auto;
    /*max-width: 1000vw;
    max-height: 1000vh;*/
    /*height: 500px;*/

    border: none;
    /*margin: 10px;*/
  }
  .imagen0 {
    box-sizing: border-box;
    width: 1349px;
    height: 700px;
    /*margin: 20px;*/
    /*padding: 5px;*/
    border: none;
  }
  main {
    height: auto;
    /*padding: 5px;*/
    background-color: white;
  }
  footer {
    background-color: rgb(100, 100, 94);
    color: white;
    padding: 5px;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .imagenesvarias {
    text-align: center;
    transform: scale(0.8);
    width: auto;
    height: auto;
  }
  main {
    height: auto;
    padding: 5px;
    background-color: black;
  }
  footer {
    background-color: rgb(100, 100, 94);
    color: white;
    padding: 5px;
    text-align: center;
  }
}
