@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&family=Gentium+Basic&display=swap");
body {
  font-family: "Asap", sans-serif;
  font-family: "Gentium Basic", serif;
}
@media (min-width: 700px) {
  /*img {
    max-width: 100%;
    height: auto;
  }*/
  .arriba {
    position: fixed;
    bottom: 0px;
    font-size: 1.5em;
    /*background-color: chartreuse;*/
    right: 20px;
    opacity: 1;
  }
  .let {
    text-align: center;
    font-size: xx-large;
    font-family: "Gentium Basic", serif;
  }
  .color1 {
    background-image: url("../shared/img/1.jpg");
    background-size: 1350px;
    /*background-size: 150vh;*/

    max-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 100vh;*/
    background-color: rgb(106, 97, 192);
    padding: 10px;
  }
  .color2 {
    /*height: 100vh;*/

    background-color: rgba(2, 2, 2, 0.349);
    padding: 10px;
  }
  .color2:focus-within {
    background-color: cyan;
  }
  .imagenesvarias {
    /*position: relative;
    top: 0px;*/
    /*transform: scale(1);*/
    /*text-align: center;
    width: auto;
    /*max-width: 1000vw;
    max-height: 1000vh;*/
    /*height: 500px;*/

    border: none;
    /*margin: 10px;*/
  }
  .imagen0 {
    box-sizing: border-box;
    /*width: 1340px;
    height: 700px;*/
    width: 100%;
    height: auto;
    /*margin: 20px;*/
    /*padding: 5px;*/
    border: none;
  }
  main {
    height: auto;
    /*padding: 5px;*/
    background-color: white;
  }
  footer {
    height: auto;
    background-color: rgb(100, 100, 94);
    color: white;
    padding: 5px;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .imagenesvarias {
    text-align: center;
    transform: scale(0.8);
    width: auto;
    height: auto;
  }

  main {
    height: auto;
    padding: 5px;
    background-color: black;
  }
  footer {
    height: auto;
    background-color: rgb(100, 100, 94);
    color: white;
    padding: 5px;
    text-align: center;
  }
}
