@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
@media (max-width: 700px) {
  .colorseccion1 {
    border-radius: 5px;
    background-color: rgb(187, 105, 105);
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
  }
  .seccion1 {
    background-color: turquoise;
    border: 3px solid grey;
    width: auto;
    height: auto;
    padding: 5px;
    margin: 5px;
    flex: 1 1 auto;
    order: 1;
  }
  .seccion2 {
    width: 20vw;
    height: auto;
    background-color: turquoise;
    flex: 2 2 auto;
    order: 2;
  }
  .seccion3 {
    width: 20vw;
    height: auto;
    background-color: turquoise;
    flex: 3 1 auto;
    order: 3;
  }
}
img {
  border: none;
}
.despues {
  padding: 2px;
}
.despues::before {
  content: "â–  ";
}
section {
  display: flex;
}
article {
  text-align: left;
}
.centrado {
  text-align: center;
  font-style: italic;
}
@media (min-width: 700px) {
  .colorseccion1 {
    border-radius: 5px;
    background-color: transparent;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    color: white;
  }
  .seccion11 {
    /* background-color: rgb(170, 190, 188);*/
    width: 150px;
    padding: 5px;
    margin: 5px;
    flex: 1 1 auto;
    order: 2;
    display: flex;
    flex-direction: column;

    text-align: left;
  }
  .seccion22 {
    padding: 5px;
    width: 200px;
    height: auto;
    margin: 5px;
    background-color: rgba(199, 178, 84, 0.356);
    flex: 2 1 auto;
    order: 3;
    display: flex;
    flex-direction: column;
    /*flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;*/
  }
  .seccion33 {
    padding: 5px;
    width: 15px;
    margin: 5px;
    background-color: rgba(199, 178, 84, 0.356);
    /*background-color: rgba(64, 224, 208, 0.5);*/
    flex: 3 1 auto;
    order: 1;
    text-align: left;
  }
  .seccion33 > div {
    padding: 5px;
  }
  .icono {
    font-size: 3.5em;
    margin: 10px;
    flex: 1 0 100%;
    order: -1;
  }
  .titulos {
    font-size: 1.5em;
    flex: 1 0 100%;
    order: -1;
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: underline;
  }
  .titu {
    left: 0px;
    font-size: 1.5em;
    /*flex: 1 0 100%;
    order: -1;*/
    font-family: "Source Sans Pro", sans-serif;
  }
  .eltex {
    /*flex: 3 1 auto;
    order: 3;*/
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    height: 150px;
    overflow: auto;
    background-color: cadetblue;
  }
  .laimg {
    width: 100px;
    height: 100px;
    margin: 10px;
    /*border: 1px solid black;
    flex: 2 2 auto;
    order: 2;*/
  }
}
