@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
.colorseccion2 {
  border-radius: 5px;
  background-color: white;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: smaller;
  font-style: italic;
}
.seccion2 > div {
  background-color: #efefef;
  font-style: italic;
  text-align: center;
}
.seccion2 {
  background-image: url("../shared/img/1.jpg") left top no-repeat;
  background-size: 70px;
  /*background-color: #ffffff;*/
  width: 20vw;
  height: auto;
  margin: 5px;
  padding: 5px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 1;
}
.imagenseccion2 {
  transform: scale(1.25);
  margin: 5px;
}
.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  padding: 2px;
}
.bordeado {
  background-image: url("../shared/img/1.jpg") left top no-repeat;
  background-size: 70px;
  border: 1px solid black;
}
.algun {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}
