nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid red;
}
.salir {
  color: black;
  font-size: 7vh;
  text-align: center;
  margin: 2px;
  border-top: blue;
}
.header-item {
  font-family: sans-serif;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  border-top: 1px solid coral;
}
.header-item:hover {
  background-color: lightseagreen;
}

.header-item a {
  text-decoration: none;
  color: black;
}

.imagen {
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 35%;
  height: auto;
  margin: 0%;
  text-align: center;
}
