@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;500&display=swap");
.otrocontenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  align-items: center;

  /*background-color: cornflowerblue;*/
  padding: 5px;
  /*box-sizing: border-box;*/
  height: 8vh; /*40px me gusta*/
}
.empieza {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;

  align-items: center;

  /*background-color: cornflowerblue;*/
  padding: 5px;
  /*box-sizing: border-box;*/
  height: 8vh; /*40px me gusta*/
  /* border: 1px solid black;*/
}
.loguito {
  background-color: white;
  margin: 5px;
}
.conespacio {
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  justify-content: flex-start;
  margin-left: 300px;
  font-family: "Yantramanav", "Asap", sans-serif;
  color: white;
}
.letras {
  font-size: 24pt;
  color: black;
}
.conespacio .active {
  /*background-color: black;*/
  padding: 5px;
  color: rgb(135, 240, 49);
  text-decoration: rgb(233, 230, 60) underline;
}
.conespacio:hover {
  border-radius: 5px;
  background-color: rgb(72, 34, 241);
  padding: 5px;
}
.total {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /*position: sticky;
  top: 0px;*/
  background-color: rgba(30, 80, 109, 0.897);
}
.navegaciontitulo4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*background-color: rgb(64, 219, 185);
  border-bottom: black;
  position: sticky;
  top: 0px;*/
  justify-content: center;
  align-items: center;
  /*height: 2vh;*/
  height: 70%;
}
.lateral {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  align-items: center;
  border-right: 1px solid black;
  /*background-color: rgb(255, 255, 255);*/

  font-family: "Yantramanav", "Asap", sans-serif;

  width: auto;
  height: 100%;
  padding: 5px;
  margin-left: 2px;
}
/*.lateral:hover {
  color: rgb(116, 226, 43);
  background-color: blueviolet;
}*/
/*.navegaciontitulo4:active:before {
  color: rgb(116, 226, 43);
  background-color: blueviolet;
}*/
/*.lateral:focus {
  color: rgb(115, 235, 145);
  background-color: blueviolet;
}*/
/*.prueba:focus {
  color: rgb(115, 235, 145);
  background-color: blueviolet;
}*/
