/*nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  /*border-bottom: 2px solid rgb(0, 0, 0);
}*/
.navegacionvertical {
  display: flex;
  flex-direction: column;
  background-color: rgb(180, 67, 67);
  width: auto;
}
.salir {
  color: black;
  font-size: 7vh;
  text-align: center;
  margin: 2px;
  border-top: blue;
}
.header-item {
  font-family: sans-serif;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  border-top: 1px solid coral;
}
.header-item:hover {
  background-color: lightseagreen;
}

.header-item a {
  text-decoration: none;
  color: black;
}

.imagen {
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 35%;
  height: auto;
  margin: 0%;
  text-align: center;
}
.interno {
  display: block;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(90, 151, 54);
  border: 1px solid rgb(100, 75, 160);
}
.interno:hover {
  text-align: center;
  border-radius: 10px;
  background-color: rgb(212, 47, 47);
  color: rgb(86, 151, 67);
}
.interno > .externo {
  display: none;
}
.interno:hover > .externo {
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
}
.paracomentarios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
