* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: #214588;
}
.header-item {
  font-family: sans-serif;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}
.imagenAvatar {
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 25%;
  height: auto;
  margin: 0%;
  text-align: center;
}
.header-item a {
  text-decoration: none;
  color: white;
}
.secciones {
  border-style: solid;
  border-width: 5px;
}
body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgb(190, 199, 198);
}
h1,
h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  padding: 30px 0;
}
