* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*nav {
  display: flex;
  flex-direction: row;
  background-color: #214588;
}*/
hr {
  width: 75%;
}
body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgb(255, 255, 255);
}
/*footer {
  box-sizing: border-box;
  background-color: black;
  border-top: 1px solid red;
  color: white;
  text-align: center;
  /*width: auto;
  position: absolute;
  bottom: 20px;
}*/

h1,
h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  padding: 30px 0;
}

@media (max-width: 700px) {
  .englobanumericos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    width: auto;
    height: auto;
    margin: 3px;
    background-color: darkblue;
    color: white;
  }
  .principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #ffffff;
    text-align: center;
    margin: 10px;
  }
  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(201, 207, 194);
    width: auto;
    height: auto;
  }

  .esconder {
    display: none;
  }
  .esconderlateral {
    display: block;
    width: auto;
  }
  .botonmenulateral {
    display: block;
    border-radius: 5px;
    height: auto;
    padding: 5px;
    background: linear-gradient(70deg, black, white);
    text-align: center;
    font-size: 1.5em;
    margin: 0%;
  }
  .girar {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    margin: 2px;
    transform: rotate(90deg);
    overflow: scroll;
  }
  .mensaje {
    padding: 5px;
    border: none;
    font-size: 1em;
    height: auto;
    margin: 0%;
    text-align: center;
    color: rgb(15, 177, 169);
  }
  .cajanumericos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 5px;
    padding: 5px;
    background: rgb(255, 255, 255);
    margin: 20px;
    color: black;
  }
  .navegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 3px;
  }
  .siempre {
    display: flex;
    flex-direction: row;
    /*background-color: blue;*/
    border-radius: 10px;
    justify-content: space-between;
    margin: 3px;
  }
  .datosnumericos {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    margin: 1px;
    padding: 5px;
    color: white;
    background: rgb(182, 206, 216);
  }
  .caja1 {
    border-radius: 5px;
    width: auto;
    height: auto;
    margin: 1px;
    padding: 5px;
    background: rgb(228, 214, 25);
    text-align: center;
  }
}

@media (min-width: 700px) {
  .navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 3px;
  }
  .siempre {
    display: flex;
    flex-direction: row;
    background-color: rgb(174, 190, 188);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
  }
  .header-item {
    font-family: sans-serif;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
  }
  .mensaje {
    padding: 2px;
    border: none;
    font-size: 1em;
    height: auto;
    text-align: center;
    color: rgb(15, 177, 169);
  }
  .esconderlateral {
    display: none;
  }
  .lateral {
    width: 25%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid black;
  }
  .lateral2 {
    display: block;
    width: 10%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid black;
  }
  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #ffffff;
    text-align: center;
    margin: 50px;
    /*border: 1px solid black;*/
  }
  .centrar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .box {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    /*justify-content: start;*/
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    width: auto;
    height: auto;
    padding: 20px;
    margin: auto;
  }

  .imagenAvatar {
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 25%;
    height: auto;
    margin: 0%;
    text-align: center;
  }
  .header-item a {
    text-decoration: none;
    color: white;
  }
  .secciones {
    border-style: solid;
    border-width: 5px;
  }
  .tabla1 {
    overflow: scroll;
    height: 300px;
    width: auto;
  }
  .titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lassecciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 500px;
    width: 1000px;
  }
  .servis {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
    width: auto;
  }
  .datosnumericos {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    margin: 1px;
    padding: 5px;
    color: white;
    background: rgb(182, 206, 216);
  }
  .texto {
    border: 1px solid black;
    width: 175px;
    height: 10px;
    padding: 1px;
  }
  .englobanumericos {
    border-radius: 5px;
    width: 700px;
    height: auto;
    margin: 20px;
    background-color: darkblue;
  }
  .cajanumericos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 5px;
    padding: 5px;
    background: rgb(255, 255, 255);
    margin: 20px;
  }
  .caja1 {
    border-radius: 5px;
    width: auto;
    height: auto;
    margin: 1px;
    padding: 5px;
    background: rgb(228, 214, 25);
    text-align: center;
  }
  .botonmenulateral {
    display: block;
    border-radius: 5px;
    height: auto;
    padding: 5px;
    background: linear-gradient(70deg, black, white);
    text-align: center;
    font-size: 1.5em;
    margin: 0%;
  }
  .totalsecciones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
